PORT=5000
MONGODB_URI=mongodb://shrmarajn70_db_user:1lImFnFTsqrK5y5A@ac-9qtjgxo-shard-00-00.4n7jrvo.mongodb.net:27017,ac-9qtjgxo-shard-00-01.4n7jrvo.mongodb.net:27017,ac-9qtjgxo-shard-00-02.4n7jrvo.mongodb.net:27017/?ssl=true&replicaSet=atlas-tuccn6-shard-0&authSource=admin&appName=Cluster0mandyal_tour_travel
SITE_URL=https://mandyaltourandtravels.in
ADMIN_API_TOKEN=replace-with-a-long-random-string
